@use '../../utility/Globalstyle.scss' as Var;

@mixin flexDispo {
  display: flex;
  flex-direction: column;
}

.Selected{
  background-color: Var.$SecondaryBlue !important;
}

.Error{
  p{
    color: Var.$Red;
    font-weight: bold;
    font-size: Var.$SecondaryTM !important;
    text-decoration: none !important;

    @media (min-width : Var.$BreakpointD){
      font-size: Var.$SecondaryTD !important;
    }
  }

  Input{
    border: solid 2px Var.$Red;
  }

}

.LoginError{
  color: Var.$Red;
  font-size: Var.$SecondaryTD !important;
  font-weight: bolder;
  text-align: center;
  margin-top: 20px;

  @media (min-width : Var.$BreakpointSM){
    font-size: Var.$CorpD;
  }
}

.Refused{
  animation: horizontal-shaking 0.5s ease-in-out;
  background-color: Var.$Red !important;
  transition: 1s ease-in-out;
}

@keyframes horizontal-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
}


.Landing{
  @include flexDispo;
  padding: 20px;
  color: whitesmoke;

  img{
    width: 100%;
    font-weight: bold;
    margin-bottom: 20px;
    max-width: 400px;
    align-self: center;
    
    @media (min-width : Var.$BreakpointSM){
      font-size: Var.$SecondaryTD;
      align-self: center;
      max-width: 500px;
    }

    @media (min-width : Var.$BreakpointT){
      max-width: 600px;
    }

  }

  h2{
    font-size: Var.$TitleM;
    margin-bottom: 20px;
    align-self: center;

    @media (min-width : Var.$BreakpointSM){
      font-size: Var.$TitleT;
    }

    @media (min-width : Var.$BreakpointD){
      font-size: Var.$TitleD;
    }
  }

  section{
    @include flexDispo;
    color: whitesmoke;
    padding: 10px;
    width: 80%;
    align-self: center;

    @media (min-width : Var.$BreakpointT){
      border: solid 3px Var.$SecondaryBlue;
      border-radius: 20px;
      padding: 25px;
      width: 600px;
    }

    form{
      @include flexDispo;
      align-items: stretch;
      padding: 20px 10px;

      fieldset{
        @include flexDispo;
        gap: 5px;
        margin-bottom: 30px;
        align-items: center;

        select{
          background-color: white;
          position: relative;
          width: 100%;
          height: 62px;
          font-size: Var.$SecondaryTM;
          font-weight: bolder;
          padding: 0 5px;

          @media (min-width : Var.$BreakpointSM){
            font-size: Var.$SecondaryTD;
            align-self: center;
            // width: 400px;
          }
  
          @media (min-width : Var.$BreakpointD){
            font-size: Var.$CorpD;
            // width: 700px;
          }
        }
      }

      input{
        padding: 20px 10px;
        background-color: white;
        color: black;
        font-weight: bolder;
        font-size: Var.$SecondaryTM;
        width: 100%;

        @media (min-width : Var.$BreakpointSM){
          font-size: Var.$SecondaryTD;
          align-self: center;
          // width: 400px;
        }

        @media (min-width : Var.$BreakpointD){
          font-size: Var.$CorpD;
          // width: 700px;
        }
        
        &::placeholder{
          color: black;
          font-weight: bolder;  
        }

        &:focus{
          border: none;
        }

      }

      input[type=password],input[type=submit]{
        margin-bottom: 7px;
      }

      input[type=submit]{
        background-color: Var.$SecondaryBlue;
        border-radius: 20px;
        padding: 15px 20px;
        color: white;
        font-size: Var.$SecondaryTM;
        align-self: center;
        cursor: pointer;
        transition: 0.2ms;

        @media (min-width : Var.$BreakpointSM){
          font-size: Var.$CorpM;
          width: 150px;
        }

        @media (min-width : Var.$BreakpointD){
          font-size: Var.$CorpD;
          width: 250px;
        }
      }

      div{
        display: flex;
        align-items: center;
        gap: 7px;
        margin-bottom: 30px;
        cursor: pointer;
        transition: 0.2ms;

        @media (min-width : Var.$BreakpointSM){
          justify-content: center;
        }

        span{
          border: 1px solid gray;
          background-color: white;
          width: 12px;
          height: 12px;

          @media (min-width : Var.$BreakpointSM){
            width: 15px;
            height: 15px;
          }
        }
      }
    }

    p{
      font-size: Var.$SecondaryTM;
      text-align: center;
      text-decoration: underline;

      span{
        color: Var.$SecondaryBlue;
        cursor: pointer;
        text-decoration: underline;
      }

      @media (min-width : Var.$BreakpointSM){
        font-size: Var.$CorpM;
      }

      @media (min-width : Var.$BreakpointD){
        font-size: Var.$CorpD;
      }
    }
    
  }

}



