$MainColor : #38618C;
$SecondaryBlue : #35A7FF;
$Red : #FF5964;
$Green : #01FF19;
$TitleD : 35px;
$TitleT : 31px;
$TitleM : 21px;
$CorpD : 17px;
$CorpM : 16px;
$SecondaryTD : 15px; 
$SecondaryTM : 12px; 
$BreakpointT : 768px;
$BreakpointD : 1024px;
$BreakpointM : 320px;
$BreakpointSM : 470px;

